
// ALL SECTIONS

.section {
    width: 100vw;
    padding-left: 310px;
    .section-wrapper {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
    @include until($tablet) {
        padding-left: 1.5rem;
    }
}

// SECTION INTRO

.section-intro {
    position: relative;
    height: 100vh;

    .section-wrapper {
        height: 100%;
    }
    .intro-content {
        margin: auto 0;
        .img-profile {
            width: 200px;
        }
    }
    .intro-scroll_down {

    }
    .intro-parallax {
        @include absolute(top 0 left 0, -1);
        height: 100%;
        width: 100%;
        overflow: hidden;

        .layer {
            position: absolute;
        }

        .p1 {
            top: 10%;
            left: 10%;
        }

        .p2 {
            top: 30%;
            left: 25%;
        }

        .p3 {
            bottom: 30%;
            left: 15%;
        }

        .p4 {
            bottom: 10%;
            left: 10%;
        }

        .p5 {
            top: 10%;
            left: 45%;
        }

        .p6 {
            bottom: 10%;
            left: 40%;
        }

        .p7 {
            top: 20%;
            right: 30%;
        }

        .p8 {
            bottom: 20%;
            right: 30%;
        }

        .p9 {
            top: 10%;
            right: 10%;
        }

        .p10 {
            top: 45%;
            right: 20%;
        }

        .p11 {
            bottom: 10%;
            right: 10%;
        }
    }
}

// SECTION ABOUT

.section-about {
    .about-image {
        img {
            width: 100%;
            max-width: 300px;
            margin-right: 100%;
        }
    }
    .about-content {
        .about-content-wrapper {
            position: relative;
            border-radius: 20px;
            box-shadow: 0px 5px 20px $grey-lighter;
            background-color: $white;
            &:before {
                content: "";
                width: 0;
                height: 0;
            }
        }
    }
    @include until($tablet) {
        & .about-content {
            padding-left: 0.75rem !important;
            .about-content-wrapper::before {
                @include absolute(top -15px left 20%);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 15px solid $white;
            }
        }
    }
    @include from($tablet) {
        & .about-content .about-content-wrapper::before {
            @include absolute(top 20% left -15px);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 15px solid $white;
        }
    }
    @include until($mobile) {
        & .about-actions .button {
            width: 100%;
            width: calc(100% + 46px);
            margin: 0px 0px 10px -23px !important;
        }
    }
}

// SECTION SERVICES

.section-services {
    .services-cards {
        .slick-dots {
            position: relative;
            margin-top: -20px;
            margin-bottom: 60px;
        }
        .slick-list {
            overflow: visible;
            .slick-track {
                display: flex;
                .slick-slide {
                    height: initial;
                    float: unset;
                    padding: 10px;
                    &:not(.slick-active) {
                        opacity: 0.3;
                        filter: grayscale(100%);
                    }
                    > div,
                    > div .block-card_service {
                        height: 100%;
                    }
                }
            }
        }
    }
}

// SECTION EXPERIENCE

.section-experience {
    .timeline-wrapper {
        position: relative;
        span.line {
            @include absolute(top 0 bottom 30px left 17px);
            width: 1px;
            background-color: $orange;
        }
        .block-timeline:last-of-type {
            margin-bottom: 0;
        }
    }
}

// SECTION WORKS

.section-works {

}

// SECTION BLOG

.section-blog {
    .blog-cards {
        .slick-list {
            overflow: visible;
            .slick-track {
                display: flex;
                .slick-slide {
                    height: initial;
                    float: unset;
                    padding: 10px;
                    &:not(.slick-active) {
                        opacity: 0.3;
                        filter: grayscale(100%);
                    }
                    > div,
                    > div .block-card_blog {
                        height: 100%;
                    }
                }
            }
        }
    }
}