
// KG HAPPY

@font-face {
    font-family: 'KG HAppy';
    src: url('../../assets/fonts/KG-Happy/KGHAPPY.woff2') format('woff2'),
    url('../../assets/fonts/KG-Happy/KGHAPPY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KG HAppy Shadows';
    src: url('../../assets/fonts/KG-Happy/KGHAPPYShadows.woff2') format('woff2'),
    url('../../assets/fonts/KG-Happy/KGHAPPYShadows.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KG HAppy Solid';
    src: url('../../assets/fonts/KG-Happy/KGHAPPYSolid.woff2') format('woff2'),
    url('../../assets/fonts/KG-Happy/KGHAPPYSolid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// AVENIR NEXT

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-Medium.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-MediumItalic.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-Italic.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-HeavyItalic.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-Heavy.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-DemiBoldItalic.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-DemiBold.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-BoldItalic.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-UltraLightItalic.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-UltraLight.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/Avenir-Next/AvenirNext-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Next/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// RIGHTEOUS

@font-face {
    font-family: 'Righteous';
    src: url('../../assets/fonts/Righteous/Righteous-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Righteous/Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}