// TEXT COLORS

.has-text-purple {
    color: $purple;
}

.has-text-purple-dark {
    color: $purple-dark;
}

.has-text-purple-darker {
    color: $purple-darker;
}

// BACKGROUND COLORS

.has-background-pink {
    background-color: $pink;
}

.has-background-purple-dark {
    background-color: $purple-dark;
}

.has-background-purple-darker {
    background-color: $purple-darker;
}

.has-background-water_green {
    background-color: $water-green;
}