//SECTION TITLE

.block-section_title {
    position: relative;
    margin: 0;
    margin-left: 14px;

    &:before {
        content: "";
        background-image: url("../../assets/icons/icon-dots.svg");
        display: block;
        @include absolute(top -7px left -14px);
        width: 37px;
        height: 37px;
    }
}

// PROGRESS BAR

.block-progress_bar {
    .progress_bar-bar {
        height: 7px;
        margin-bottom: 0;
        overflow: hidden;
        background-color: #F1F1F1;
        border-radius: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .progress_bar-bar-active {
        border-radius: 15px;
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 7px;
        color: #fff;
        text-align: center;
        background-color: $black;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
}

// COUNTER

.block-counter {

}

// CARD SERVICE

.block-card_service {
    height: 100%;
    border-radius: 20px;
    img {
        display: inline-block !important;
    }
}

// CARD WORK

.block-card_work {
    position: relative;
    display: block;
    box-shadow: 0px 5px 20px $grey-lighter;
    border-radius: 20px;
    overflow: hidden;
    background-color: $white;
    &:hover {
        &:after {
            opacity: 1;
            @include prefix(transition, all 0.4s ease-in-out);
        }
        .card-details {
            opacity: 1;
            .card-detail-category {
                transform: translateY(0px);
            }
            .card-detail-title {
                transform: translateY(-15px);
            }
        }
    }
    &:after {
        content: '';
        @include absolute(top 0 left 0);
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba($orange, 0.8);
    }
    .card-details {
        @include absolute(top 0 left 0, 5);
        width: 100%;
        height: 100%;
        opacity: 0;
        .card-detail-category {
            @include absolute(top 0 left 20px);
            display: inline-block;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            transform: translateY(-40px);
        }
        .card-detail-title {
            @include absolute(bottom 0px);
            transform: translateY(100%);
            @include responsiveFont(2vw, 20px, 35px, 1.25rem);
        }
    }
    .card-thumb {
        padding: 50%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    @include until($tablet) {
        & {
            display: flex;
            flex-direction: column-reverse;
            &:after {
                opacity: 0 !important;
            }
            .card-details {
                position: relative;
                opacity: 1;
                .card-detail-title {
                    position: relative;
                    padding: 10px;
                    margin: -16px;
                    color: $white !important;
                    box-shadow: 0px 0px 6px rgba($black, 0.5);
                    background: $purple-darker;
                    @include prefix(transform, translateY(0px) !important);
                }
                .card-detail-category {
                    z-index: 1;
                    left: 10px;
                    font-size: 12px;
                    padding: 4px 15px 0px !important;
                    border-radius: 15px 15px 0px 0px;
                    box-shadow: 0px -4px 5px rgba($black, 0.1);
                    @include prefix(transform, translateY(-100%) !important);
                }
            }
        }
    }
}

// CARD BLOG

.block-card_blog {
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 5px 20px $grey-lighter;
    background-color: $white;
    .card-category {
        @include absolute(left 20px top 0, 1);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

// TIMELINE

.block-timeline {
    padding-left: 35px;
    margin-bottom: 50px;
    position: relative;
    background-color: inherit;
    width: 100%;

    .timeline-icon {
        @include absolute(top 31px left 7px, 1);
        font-size: 20px;
        color: $orange;
        background-color: $white;
    }

    .timeline-content {
        position: relative;
        .timeline-time {
            color: $grey-light;
            font-size: 14px;
        }
        p {
            margin: 0;
        }
    }
}